html,
body {
  height: 90%;
}

body {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  background-color: #00c853;
}

.game-container {
  position: relative;
  width: 99%;
  height: 99%;

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.player-label {
  z-index: 5;
  position: absolute;
  /* Ajustez cette valeur pour positionner l'étiquette */
  top: 2.9rem;
  left: 50;
  /* Centre l'étiquette horizontalement */
  margin: 0;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

#player-3 {
  height: 30%;

  width: 34%;
  transform: translateY(-113%);
}

#player-1 {
  height: 30%;
  width: 34%;
  transform: translateY(+113%);
}

#player-2 {
  width: 34%;
  height: 30%;
  transform: translateX(-95%);
}

#player-4 {
  width: 34%;
  height: 30%;
  transform: translateX(+95%);
}

.carte {
  height: 90%;
  transition: all 2 ease;
}

.carte:hover {
  transform: scale(1.05);
}

.rivière {
  width: 55%;
  height: 50%;
  padding: 1px;
}

.game-area {
  position: relative;
  width: 30%;
  height: 36%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pioche {
  position: absolute;
  width: 10%;
  height: 15%;

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-350%, 250%);
}

.jouable {
  position: relative;
}

.turn {
  position: absolute;
  width: 10%;
  height: 15%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(350%, 250%);
  cursor: pointer;
}

#tour-jeu {
  position: absolute;
  width: 10%;
  height: 5%;
  border: solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-350%, -650%);
  text-align: center;
}

#changeTour {
  position: absolute;
  width: 10%;
  height: 5%;
  border: dashed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(350%, -650%);
  text-align: center;
  transition: background-color 0.3s; /* Animation douce pour la transition de couleur */

  cursor: pointer; /* Change le curseur en un pointeur au survol */
}

#changeTour:hover {
  opacity: 0.65;
}

.modal {
  display: block; /* Garde le modal visible dans le flux du document */
  position: fixed; /* Position fixe pour couvrir tout l'écran */
  z-index: 1; /* S'assure qu'il est au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Active le défilement si nécessaire */
  background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
  opacity: 0; /* Commence invisible */
  pointer-events: none; /* Ignore les événements de souris lorsque invisible */
  transition: opacity 0.5s ease; /* Transition pour l'opacité */
}

.modal.show {
  opacity: 0.9; /* Rendre visible */
  pointer-events: all; /* Accepte les événements de souris */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% en haut et centrée horizontalement */
  padding: 20px;
  border: 1px solid #080808;
  border-radius: 10px;
  width: 80%; /* Largeur de la fenêtre modale */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(
    0.8
  ); /* Réduire légèrement la taille pour un effet de zoom */
  transition: transform 0.3s ease; /* Transition pour la transformation */
  max-height: 60%;
  overflow: auto;
}

.modal.show .modal-content {
  transform: scale(1); /* Rétablit la taille normale */
}

/* Personnalisation de la barre de défilement pour WebKit (Chrome, Safari) */
.modal-content::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre de défilement verticale */
  height: 5px; /* Hauteur de la barre de défilement horizontale (le cas échéant) */
}

.modal-content::-webkit-scrollbar-track {
  background: rgba(
    0,
    0,
    0,
    0.1
  ); /* Couleur de la piste de la barre de défilement */
}

.modal-content::-webkit-scrollbar-thumb {
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Couleur du pouce de la barre de défilement */
  border-radius: 5px; /* Bordure arrondie pour le pouce */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.carteInfo {
  display: flex; /* Utilise Flexbox pour la mise en page */
  align-items: center; /* Centre les éléments verticalement */
  gap: 10px; /* Ajoute un espace entre l'image et le texte */
}

.carteInfo img {
  width: 50px; /* Largeur de l'image */
  height: auto; /* Hauteur automatique pour conserver les proportions */
}

.modal-content h2 {
  text-align: center; /* Centre le texte horizontalement */
}

#couleur {
  position: absolute;
  width: 5%;
  height: 5%;
  border: solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(1%, -230%);
  text-align: center;
}

.animate {
  transition: transform 1.5s ease;
}

.player div {
  position: relative;
  display: flex;
  max-height: 30%;
  max-width: 25%;
}
