html,
body {
  height: 90%;
}

body {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  background-color: #00c853;
}

.game-container {
  position: relative;
  width: 99%;
  height: 99%;

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.player-label {
  z-index: 5;
  position: absolute;
  /* Ajustez cette valeur pour positionner l'étiquette */
  top: 2.9rem;
  left: 50;
  /* Centre l'étiquette horizontalement */
  margin: 0;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

#player-3 {
  height: 30%;

  width: 34%;
  transform: translateY(-113%);
}

#player-1 {
  height: 30%;
  width: 34%;
  transform: translateY(+113%);
}

#player-2 {
  width: 34%;
  height: 30%;
  transform: translateX(-95%);
}

#player-4 {
  width: 34%;
  height: 30%;
  transform: translateX(+95%);
}

.carte {
  height: 90%;
  transition: all 2 ease;
}

.carte:hover {
  transform: scale(1.05);
}

.rivière {
  width: 55%;
  height: 50%;
  padding: 1px;
}

.game-area {
  position: relative;
  width: 30%;
  height: 36%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pioche {
  position: absolute;
  width: 10%;
  height: 15%;

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-350%, 250%);
}

.jouable {
  position: relative;
}

.turn {
  position: absolute;
  width: 10%;
  height: 15%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(350%, 250%);
}

#tour-jeu {
  position: absolute;
  width: 10%;
  height: 5%;
  border: solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-350%, -650%);
  text-align: center;
}

#changeTour {
  position: absolute;
  width: 10%;
  height: 5%;
  border: dashed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(350%, -650%);
  text-align: center;
}

#couleur {
  position: absolute;
  width: 5%;
  height: 5%;
  border: solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(1%, -230%);
  text-align: center;
}

.animate {
  transition: transform 1.5s ease;
}

.player div {
  position: relative;
  display: flex;
  max-height: 30%;
  max-width: 25%;
}
